* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header  {
    height: 500px;
    background-color: rgba(255,0,0,.7);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap; 
   /* flex-flow: row nowrap;*/
    align-items: center

}
header div {
    width: 30%;
    height: 32%;
    border: 2px solid black;
    background-color: aqua;
}

