* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 150px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

header figure {
    background-color: yellow;
    height: 100%;
    width: 20%;
}
header figure img {
    height: 80%;
}

header h1 {
    background-color: red;
    width: 65%;
}

header nav {
    background-color: green;
    height: 50%;
    width: 15%;
}
