main {
  min-height: 500px;
  background-color:none;
  display: flex;
  flex-flow: row nowrap;
}

main app-main-menu{
  background-color: none;
  width: 20%;
  min-height: 200px;
}

main app-main-cuerpo{
  background-color: none;
  width: 60%;
}

main app-main-aside{
  background-color: green;
  width: 20%;
}
