* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 150px;
    background-color: none;
    align-items: center;
}

header figure {
    height: 90%;
    width: 20%;
    background-color: none;
}

header figure img {
    height: 100%;
}

header h1 {
    display: flex; flex-flow: column nowrap; justify-content: center;
    width: 50%;
    background-color: none;
    height: 45%;
}

header nav {
    display: flex; flex-flow: row nowrap; justify-content: space-around; align-items: center;
    background-color: none;
    width: 32%;
    height: 30%;
}

header nav a {
    font-family: 'Syne Mono';
    font-size: 18px;
    text-decoration: none;
}

main {
    min-height: 500px;
    background-color: none;
    display: flex; flex-flow: row nowrap;
}

main nav {
    width: 15%;
    background-color: none;
    height: 40%;
    display: flex; flex-flow: column nowrap; justify-content: space-around; align-items: center;

}

main nav a {
    height: 30px;
    width: 95%;
    background-color: none;
}

main section {
    width: 65%;
    height: 80%;
    background-color: none;
}
main section article{
    display: flex;
    flex-flow: row nowrap;
    border: 0px solid black;
}
main section article figure{
    flex-basis: 20%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section article img {
    width: 90%;
}

main section article div.datos{
    flex-basis: 60%;
    background-color: none;
}
main section article div.datos h2{
    font-size: 20px;
    text-align: center;
    font-family: 'Big Shoulders Stencil Text';
}

main section article div.datos p{
    text-align: justify;
    text-indent: 20px;
    font-family: 'Open Sans Condensed';
}

main section article div.compra{
    flex-basis: 20%;
    background-color: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main section article div.compra i:hover{
    color:  gold;
}
main section article div.compra:hover span{
    color:  blue;
}

main section article div.compra span{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 20px;
}
main section article div.compra i{
    font-size: xx-large;
}









































main aside {
    width: 20%;
    height: 100%;

    background-color: none;
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;
}

main aside img {
    height: 100px;
}
main aside div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border: 3px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
}

main aside h4 {
    background-color: grey;
    height: 30px;
    text-align: center;
    width: 100%;
}
main aside h3 {
    text-align: center;
}




main aside #vistos {
    height: 40%;
    width: 95%;
    background-color: none;
}


main aside #valorado {
    height: 40%;
    width: 95%;
    background-color:none;
}
